<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management_backend.mappers.AlbumMapper">

    <resultMap id="BaseResultMap" type="com.example.management_backend.pojo.PO.AlbumPO">
        <id property="albumid" column="albumid" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="albumavatar" column="albumavater" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
       albumid,title,albumavater
    </sql>
</mapper>