<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management_backend.mappers.ArtistMapper">

    <resultMap id="BaseResultMap" type="com.example.management_backend.pojo.PO.ArtistPO">
        <id property="artistid" column="artistid" jdbcType="INTEGER"/>
        <result property="artistname" column="artistname" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        artistid,artistname
    </sql>
    <select id="searchArtist" resultType="com.example.management_backend.pojo.PO.ArtistPO">
        select artistname,artistid from artist where artistname like '%${keyWord}%'
    </select>

</mapper>