<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management_backend.mappers.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.management_backend.pojo.PO.UserPO">
        <id property="usernameid" column="usernameid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        usernameId,username,userAvater
    </sql>

    <select id="searchUser" resultType="com.example.management_backend.pojo.PO.UserPO">
        select username,usernameid from user where username like '%${keyWord}%'
    </select>

</mapper>